<footer class="footer">
  <small>
    The <a href="">Minh Vu Real</a>
    by <a href="">MinhVuCorp</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Tin Tuc", "#" %></li>
      <li><%= link_to "Doi Tac", "#" %></li>
      <li><%= link_to "Lien he", "#" %></li>
    </ul>
  </nav>
</footer>
